<div class="span12" id="home">
  <div>
    <div class="span12">

      <div class="span2 input-dropdown">
        <div class="input-label">Org Unit</div>
        <div class="input-append">
          <input class="span2 input" id="orgUnit" type="text" value="GBS">
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-item">GBS</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="span2">
        <div class="input-label">Deposit #</div>
        <div class="input">
          <input class="span2" id="depositNumber" type="text" value="957150367281" disabled>
        </div>
      </div>

      <div class="span2">
        <div class="input-label">Deposit Date</div>
        <div class="input">
          <input class="span2" id="depositDate" value="2011-09-01" min="2010-08-01" max="2013-12-01"  type="date">
        </div>
      </div>

      <div class="span2">
        <div class="input-label">Check Date</div>
        <div class="input">
          <input class="span2" id="checkDate" type="date">
        </div>
      </div>

      <div class="span2 input-dropdown">
        <div class="input-label">Status</div>
        <div class="input-append">
          <input class="span2" id="status" type="text" value="Active">
          <div class="btn-group">
            <button class="btn dropdown-toggle" id="statusButton" data-target="#" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-item">Active</li>
              <li class="dropdown-item">Delete</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="span2">
        <div class="input-label">Check #</div>
        <div class="input">
          <input class="span2" id="checkNumber" type="text">
        </div>
      </div>

      <div class="span2">
        <div class="input-label">Check Amount</div>
        <div class="input-prepend input-append">
          <div class="input" id="checkAmountInput">
            <span class="add-on">$</span>
            <input class="span2 check-amount" id="checkAmount" type="text">
            <div class="btn-group">
              <button class="btn dropdown-toggle" data-target="#" id="checkAmountButton" data-toggle="dropdown">
                USD
              </button>
              <ul class="dropdown-menu">
                <li class="dropdown-item">USD</li>
                <li class="dropdown-item">CAN</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="span6 receipt-notes">
        <div class="input-label">Receipt Notes</div>
        <textarea class="span6" rows="11" id="receiptNotes"/>
      </div>

      <div class="span4 input-dropdown">
        <div class="input-label">Carrier</div>
        <div class="input-append">
          <input class="span4" id="carrier" type="text">
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-item">Ameritas</li>
              <li class="dropdown-item">Aflac</li>
              <li class="dropdown-item">Cigna</li>
              <li class="dropdown-item">Standard Insurance</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="span4 input-dropdown payee">
        <div class="input-label">Payer</div>
        <div class="input">
          <input class="span4" id="payer" type="text">
        </div>
      </div>

      <div class="span4 input-dropdown">
        <div class="input-label">Payee</div>
        <div class="input">
          <input class="span4" id="payee" type="text">
        </div>
      </div>
    </div>

    <div class="span12" id="midItems">
      <div class="span2">
        <h4 class="span2 check-amount" id="premiumTotal">$0</h4>
      </div>

      <div class="span2">
        <h4 class="span2 check-amount" id="receiptTotal">$0</h4>
      </div>
    </div>


    <div class="span12" id="lowerItems">

      <div class="span2 unappliedAmount">
        <div class="input-label">Unapplied Amount</div>
        <div class="input-prepend">
          <div class="input">
            <span class="add-on">$</span>
            <input class="span2 check-amount" id="unappliedAmount" type="text" disabled>
          </div>
        </div>
      </div>
      <div class="button-container">
        <div class="span1">
          <button type="button" class="btn btn-primary add-new">Add New</button>
        </div>
        <div class="span1">
          <button type="button" class="btn btn-primary">Close</button>
        </div>
      </div>
    </div>

    </div>
  </div>
</div>